
html, body
{
  position:absolute;
  width:100%;
  height:100%;
  font:12pt Verdana;

  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
}

div
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
  background-origin:padding-box;
  background-repeat:no-repeat;
  white-space : pre;
  -moz-user-select:-moz-none;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -webkit-appearance:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline:none;
}

table
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

input
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

img
{
  position:absolute;
  box-sizing:border-box;
}

textarea::-webkit-scrollbar { display: none; }


.nexacontainer
{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}
.nexacontainer.withvscroll
{
  right:14px;
}
.nexacontainer.withhscroll
{
  bottom:14px;
}
.nexacontainer.withbothscroll
{
  right:14px;
  bottom:14px;
}

.nexalefttop
{
  left:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:left top;
  font-size:1px;
}
.nexaleftbottom
{
  left:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:left bottom;
  font-size:1px;
}
.nexarightbottom
{
  right:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:right bottom;
  font-size:1px;
}
.nexarighttop
{
  right:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:right top;
}
.nexaedge
{
  width:100%;
  height:100%;
}
.nexamodaloverlay
{
  width:100%;
  height:100%;
}
.nexainnercontainer
{

}

.nexatransform
{

}

.nexacontentsbox
{
  position:relative;
  display:table-cell;
  background-position:left center;
  background-repeat:no-repeat;
  vertical-align:middle;
}
.nexatextitem
{
  position:relative;
  vertical-align:middle;
  white-space:inherit;
  word-wrap:inherit;
  word-break:inherit;
  text-decoration:inherit;
}
.nexaiconitem
{
  position:relative;
  vertical-align:middle;
  background-position:center center;
  background-repeat:no-repeat;
}

.nexainput
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  border:none;
  outline:none;
  background:transparent;
  padding : 0px;  
}

.nexainput:-webkit-autofill 
{
	animation-name: nexainput_autofill;
}

.nexainput:not(:-webkit-autofill) 
{
	animation-name: nexainput_notautofill;
}

@keyframes nexainput_autofill { }

@keyframes nexainput_notautofill { }

.nexatextarea
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  line-height : inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  white-space:pre;
  word-wrap:normal;
  border:none;
  outline:none;
  resize:none;
  background:transparent;
  padding : 0px;
  box-sizing:border-box;		
}

.nexaleftalign
{
  text-align:left;
}

.nexarightalign
{
  text-align:right;
}

.nexacenteralign
{
  text-align:center;
}

.nexamap div *
{
  overflow:visible;
}

.ProgressBar,.ProgressBarControl
{

}

.celltreeline
{
  border : 1px dotted #999999;
}

.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Button.btn_WCF_login
{
	border : 1px solid #a9a9a9;
	background : rgba(255,255,255,0.8);
	border-radius : 50px;
	color : black;
	font : normal 10pt/normal NotoSansKR, sans-serif;
	box-shadow : 1px 1px 0px #bbbbbb;
}
.Button.btn_WCF_login .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
.Button.btn_TF_menu1
{
	border : 0px none;
	background : transparent;
	color : white;
	font : normal 500 19px/normal "NotoSansKR","sans-serif";
}
.Button.btn_TF_menu1 .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
.Button.btn_WCF_modeOn
{
	border : 1px solid transparent;
	background : #0078AF;
	border-radius : 50px;
	color : white;
	font : normal 10pt/normal NotoSansKR, sans-serif;
}
.Button.btn_WCF_modeOn .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
.Button.btn_WCF_modeOff
{
	border : 1px solid transparent;
	background : #ebebeb;
	border-radius : 50px 50px;
	color : black;
	font : normal 10pt/normal NotoSansKR, sans-serif;
}
.Button.btn_WCF_modeOff .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
.Button.btn_MF_link
{
	border : 1px solid #c9c9c9;
	background : rgba(255,255,255,0.8);
	border-radius : 0px 50px 50px;
	color : black;
	font : normal 10pt/normal NotoSansKR, sans-serif;
}
.Button.btn_MF_link .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
.Div.m_div_WF_bg
{
	border : 1px solid #b3c2db;
	background : #fbfbfb;
	border-radius : 4px;
	box-shadow : 2px 1px 2px #dedede;
}
.Div.m_div_WFSA_bg
{
	border : 1px solid #b3c2db;
	background : #f4f8ff;
}
.Static.m_sta_GA_mem
{
	border : 1px solid #ccd0d9;
	background : #e6e9ee;
	color : #30373b;
	font : 14 pt NotoSansKR, sans-serif;
}
.Static.m_sta_GA_mem .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
.Static.m_Popup_Title
{
	font : 12pt NotoSansKR, sans-serif;
	color : #707070;
}
.Static.m_sta_WF_title
{
	font : normal 600 14pt/normal NotoSansKR, sans-serif;
	background : url('./images/sat_WF_title02.png') no-repeat left;
}
.Static.sta_WF_title
{
	font : normal 700 18px/normal NotoSansKR, sans-serif;
	background : url('./images/sta_WF_titleIcon.png') no-repeat left;
	color : #000000;
}
.Static.sat_MF_title
{
	font : normal 600 20px/normal NotoSansKR, sans-serif;
	color : #000000;
}
.Static.sta_WF_title44
{
	font : italic 16px/normal "NotoSansKR","sans-serif";
	background : url('./images/btn_CalHeadSpinUp_P.png') no-repeat left;
	color : #000000;
}
.Static.sta_WF_title04
{
	font : normal 700 16px/normal NotoSansKR, sans-serif;
	color : #000000;
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 3px solid #f3d02a;
	border-left : 0px none;
}
.Static.sta_WF_title04off
{
	font : normal 700 16px/normal NotoSansKR, sans-serif;
	color : #aaaaaa;
}
.Static.sta_WF_title05
{
	font : normal 700 16px/normal NotoSansKR, sans-serif;
	color : #000000;
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 2px solid #b9b9b9;
	border-left : 0px none;
}
.DatePickerControl.cal_MF_01_KHM
{
	background : #ffffff;
	font : bold 14px NotoSansKR;
}
.DatePickerControl.cal_MF_01_KHM .head
{
	background : #ffffff;
}
.DatePickerControl.cal_MF_01_KHM .head .yearstatic
{
	font : bold 14px NotoSansKR;
	color : #ffffff;
}
.DatePickerControl.cal_MF_01 .head .monthstatic
{
	font : bold 14px NotoSansKR;
	color : #ffffff;
}
.DatePickerControl.cal_MF_01_KHM .head .yearspin .spinedit
{
	font : bold 14px NotoSansKR;
	color : #ffffff;
	background : #195dae;
}
.DatePickerControl.cal_MF_01 .head .monthspin .spinedit
{
	font : bold 14px NotoSansKR;
	color : #ffffff;
	background : #195dae;
}
.DatePickerControl.cal_MF_01_KHM .body
{
	border : 0px none;
}
.DatePickerControl.cal_MF_01_KHM .body .weekband
{
	background : #f3f4f8;
}
.DatePickerControl.cal_MF_01_KHM .body .weekitem
{
	color : #ffffff;
}
.DatePickerControl.cal_MF_01_KHM .body .dayitem
{
	color : #333333;
}
.Static.m_sta_WF_gubun
{
	background : #324e85;
	background : linear-gradient(#324e85 0%,#273c67 100%) #324e85;
	color : #d9eef7;
	border : 1px solid #0076a3;
	box-shadow : 1px 2px 2px rgba(0,0,0,0.2);
}
.Static.m_sta_WF_title12
{
	font : normal 600 12pt/normal NotoSansKR, sans-serif;
	background : url('./images/sat_WF_title02.png') no-repeat left;
}
.Radio.login
{
	font : normal bold 14pt/normal NotoSansKR, sans-serif;
	color : #8e9398;
}
.Static.m_sat_WF_title3
{
	font : normal 300 14pt/normal NotoSansKR, sans-serif;
	background : url('./images/sat_WF_title03.png') no-repeat left #e6e9ee;
	border : 1px solid #ccd0d9;
	color : #30373b;
}
.Static.m_sat_WF_title3 .nexacontentsbox
{
	vertical-align : middle;
	background-position-y : center;
}
.Static.sta_Login_titext
{
	background : transparent;
	font : normal 900 18px/normal NotoSansKR, sans-serif;
	color : #2a2b2d;
}
.Static.sta_Login_titext .nexacontentsbox
{
	text-align : left middle;
	background-position-x : left middle;
}
.Static.m_sta_GA_area
{
	border : 1px solid #ccd0d9;
	font : 15pt NotoSansKR, sans-serif;
	background : #ffffff;
}
.Static.m_sta_GA_area .nexacontentsbox
{
	white-space : pre-wrap;
	word-wrap : break-word;
	word-break : break-all;
}
.Div.m_div_login
{
	border : 1px solid darkgray;
	border-radius : 5px 5px 5px / 5px;
	box-shadow : 2px 2px 2px gainsboro;
}
.Div.div_my_cont
{
	border : 1px solid darkgray;
}
.Button.m_btn_login
{
	background : #002a4c;
	color : #ffffff;
	font : normal 20px/normal NotoSansKR, sans-serif;
	border : 0px none;
	border-radius : 6px;
}
.Button.btn_login
{
	background : #002a4c;
	color : #ffffff;
	font : normal 20px/normal "NotoSansKR","sans-serif";
	border : 0px none;
	border-radius : 4px;
}
.Button.m_btn_logout
{
	color : #ffffff;
	font : normal 12pt/normal NotoSansKR, sans-serif;
	border : 0px none;
	background : url('./../../../_resource_/_images_/IMG/btn_TF_logoutO.png') no-repeat center center;
}
.Button.m_btn_14
{
	background : #00668e;
	color : #ffffff;
	font : normal 400 16pt/normal "NotoSansKR","sans-serif";
	border : 0px none;
	border-radius : 3px;
}
.Button.m_btn_more
{
	background : transparent;
	border : 0px none;
	color : #616770;
}
.Button.m_btn_MF_Add
{
	background : url('./../../../_resource_/_images_/IMG/btn_WFG_openRN.png') no-repeat;
	border : 0px none;
	font : 500 12px/normal NotoSansKR, sans-serif;
	color : #ffffff;
}
.Grid.m_grid_default .body .row .cell
{
	color : #333333;
	font : bold 14pt NotoSansKR, sans-serif;
	border : 0px none;
	background : #ffffff;
}
.Grid.m_grid_body .head .row .cell
{
	font : bold 14pt NotoSansKR, sans-serif;
	color : #2f2f2f;
	background : #eeeeee;
	border : 0px none;
}
.Grid.m_grid_body .head .row .cell > .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.Grid.m_grid_body .body .row .cell
{
	color : #333333;
	font : 14pt NotoSansKR, sans-serif;
	border : 0px none;
	background : #ffffff;
}
.Static.m_sta_Login_text
{
	background : transparent;
	font : normal 700 18pt/normal NotoSansKR, sans-serif;
	color : #8e9398;
}
.Static.m_sta_Login_text .nexacontentsbox
{
	vertical-align : middle;
	background-position-y : center;
	text-align : right;
	background-position-x : right;
}
.Radio.m_login
{
	font : normal 700 20pt/normal NotoSansKR, sans-serif;
	color : #ffffff;
}
.Edit.m_Edit_Login
{
	background : #ffffff;
	font : normal 20px/normal NotoSansKR, sans-serif;
	border : 1px solid #dedede;
	border-radius : 3px;
}
.Edit.m_Edit_Login .nexainput
{
	text-align : left;
	padding : 0px 3px 0px 8px;
}
.Edit.m_Edit_Login .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.Edit.edt_login
{
	background : #ffffff;
	font : normal 18px/normal NotoSansKR,"sans-serif";
	color : #424242;
	border-radius : 4px;
}
.Edit.edt_login .nexainput
{
	text-align : left;
	padding : 0px 3px 0px 8px;
}
.Edit.edt_login .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.TextArea.m_textArea
{
	background : #ffffff;
	font : 14pt NotoSansKR, sans-serif;
}
.TextArea.m_textArea .nexacontentsbox
{
	white-space : pre-wrap;
	word-wrap : break-word;
	word-break : break-all;
}
.TextArea.m_textArea .nexatextarea
{
	white-space : pre-wrap;
	word-wrap : break-word;
	word-break : break-all;
	padding : 10px;
}
.Static.Static.m_sta_GA_label
{
	border : 1px solid #ccd0d9;
	background : #e6e9ee;
	color : #30373b;
	font : 14 pt NotoSansKR, sans-serif;
}
.Static.Static.m_sta_GA_label .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
.Static.m_sta_GA_box
{
	border : 1px solid #ccd0d9;
	font : 15pt NotoSansKR, sans-serif;
	background : #f4f8ff;
}
.Static.m_sta_GA_box .nexacontentsbox
{
	white-space : pre-wrap;
	word-wrap : break-word;
	word-break : break-all;
}
.Static.m_sta_GA_memInfo
{
	background : rgba(0,0,0,0.4);
	color : #efefef;
	font : 12 pt NotoSansKR, sans-serif;
	border-radius : 0px 0px 5px 5px;
	box-shadow : 2px 2px 1px rgba(0,0,0,0.2);
}
.Static.m_sta_GA_memInfo .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
.Div.div_gubun1_bg
{
	background : #ffffff;
	border-radius : 5px;
	border : 1px solid #efefef;
}
.Div.Div_Login_box1
{
	background : #ffffff;
	box-shadow : 1px 2px 2px #000000;
}
.Div.Div_Login_box2
{
	background : #e2e2e2;
	box-shadow : 1px 2px 2px #000000;
}
.Button.btn_more
{
	background : url('./images/img_more.png') no-repeat left;
	font : normal 10px/normal NotoSansKR;
	color : #2a2b2d;
	opacity : 0.5;
	border : 0px none;
}
.Button.btn_more .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
	vertical-align : middle;
	background-position-y : center;
}
.Static.sta_TF_organ_L
{
	background : url('./images/img_TF_organ_L.png') no-repeat center top #05a594;
	font : bold 14pt/normal "Gothic";
	border : 0px none;
	color : #ffffff;
}
.Static.sta_TF_organ_L .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : bottom;
	background-position-y : bottom;
}
.Static.sta_TF_organ_Rimg
{
	background : url('./images/img_TF_organ_right.png') no-repeat left;
	border : 0px none;
}
.Div.div_TF_menu_bg
{
	background : #272727;
	font : bold 14pt/normal "Gothic";
	border : 0px none;
	color : #ffffff;
}
.Static.sta_TF_logo
{
	background : url('./images/sta_TF_logo.png') no-repeat;
}
.Button.btn_Login3
{
	background : #0471a0;
	border : 0px none;
	color : #ffffff;
	cursor : pointer;
	font : bold 10pt/normal "Gothic";
	opacity : 0.8;
}
.Button.btn_Login3 .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
.Grid.grd_WF_mainFaq
{
	border : 0px none;
	color : #555555;
	background : transparent;
}
.Button.btn_MF_shortcut1
{
	border : 1px solid #c8cbd0;
	background : #02abee;
	background : linear-gradient(#02abee,#004A8B);
	border-radius : 50px;
	color : #ffffff;
	cursor : pointer;
}
.Button.btn_login_idpw_find
{
	font : 500 16px/normal "NotoSansKR","sans-serif";
	color : #ffffff;
}
.Button.btn_login_quick
{
	border : 0px solid transparent;
	background : #ebebeb;
	border-radius : 100px;
}
.Button.btn_login_quick .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.Static.sta_IPSI_title
{
	border : 0px solid #ccd0d9;
	font : normal 700 18pt/normal NotoSansKR, sans-serif;
	background : #ffffff;
}
.Static.sta_IPSI_title .nexacontentsbox
{
	white-space : pre-wrap;
	word-wrap : break-word;
	word-break : break-all;
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
	white-space : pre-wrap;
	word-wrap : break-word;
	word-break : normal;
}
.Static.sta_IPSI_group
{
	border : 0px solid #ccd0d9;
	font : normal 700 12pt/normal NotoSansKR, sans-serif;
	color : white;
	background : dodgerblue;
}
.Static.sta_IPSI_group .nexacontentsbox
{
	white-space : pre-wrap;
	word-wrap : break-word;
	word-break : break-all;
	text-align : left;
	background-position-x : left;
	vertical-align : middle;
	background-position-y : center;
	white-space : pre-wrap;
	word-wrap : break-word;
	word-break : normal;
}
.Static.sta_IPSI_label
{
	background : #f7f7f7;
	font : normal 400 11pt/normal NotoSansKR, sans-serif;
	border : 1px solid #dcdcdc;
}
.Static.sta_IPSI_label .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
	white-space : pre-wrap;
	word-wrap : break-word;
	word-break : normal;
}
.Static.sta_IPSI_label2
{
	background : transparent;
	font : normal 700 11pt/normal NotoSansKR, sans-serif;
	border : 0px solid #dcdcdc;
}
.Static.sta_IPSI_label2 .nexacontentsbox
{
	text-align : right;
	background-position-x : right;
	vertical-align : middle;
	background-position-y : center;
	white-space : pre-wrap;
	word-wrap : break-word;
	word-break : normal;
}
.Static.sta_IPSI_labelbg2
{
	background : #ffffff;
	font : normal 12pt/normal NotoSansKR, sans-serif;
	border : 0px solid #dcdcdc;
}
.Static.sta_IPSI_labelbg2 .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
	vertical-align : middle;
	background-position-y : center;
	white-space : pre-wrap;
	word-wrap : break-word;
	word-break : normal;
}
.Calendar.cal_IPSI2
{
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 1px solid silver;
	border-left : 0px none;
}
.Calendar.cal_MF_01_KHM
{
	border : 0px none;
}
.Calendar.cal_MF_01_KHM .datepicker
{
	background : #ffffff;
	border : 0px none;
}
.DatePickerControl.popupCalendarcal_MF_01_KHMdatepicker
{
	background : #ffffff;
	border : 0px none;
}
.CheckBox.chk_IPSI2
{
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 1px solid silver;
	border-left : 0px none;
}
.Edit.edt_IPSI2
{
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 1px solid silver;
	border-left : 0px none;
}
.Radio.rdo_IPSI2
{
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 1px solid silver;
	border-left : 0px none;
}
.Combo.cbo_IPSI2
{
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 1px solid silver;
	border-left : 0px none;
}
.ListView.lv_LF_fav
{
	border : 0px none;
	background : transparent;
}
.ListView.lv_LF_fav .body
{
	border : 0px none;
	background : transparent;
}
.ListView.lv_LF_fav .body .cell
{
	background : #ffffff;
	color : #242424;
	font : 400 14px "NotoSansKR", sans-serif;
	letter-spacing : -1px;
}
.ListViewBandControl.list_FAV_board
{
	border-radius : 10px 10px 10px 10px;
	border : 1px solid #cacfd3;
}
.ListViewBandControl .cell.lst_FAV_cell
{
	color : red;
	border : 1px solid red;
}
.Calendar.cal_MF_01_KHM .datepicker .head
{
	background : #ffffff;
}
.DatePickerControl.popupCalendarcal_MF_01_KHMdatepicker .head
{
	background : #ffffff;
}
.Calendar.cal_MF_01_KHM .datepicker .head .yearstatic
{
	font : normal 600 18px/normal "NotoSansKR","sans-serif";
	background : #ffffff;
	color : #000000;
}
.DatePickerControl.popupCalendarcal_MF_01_KHMdatepicker .head .yearstatic
{
	font : normal 600 18px/normal "NotoSansKR","sans-serif";
	background : #ffffff;
	color : #000000;
}
.Calendar.cal_MF_01_KHM .datepicker .head .monthstatic
{
	font : normal 600 18px/normal "NotoSansKR","sans-serif";
	background : #ffffff;
	color : #000000;
}
.DatePickerControl.popupCalendarcal_MF_01_KHMdatepicker .head .monthstatic
{
	font : normal 600 18px/normal "NotoSansKR","sans-serif";
	background : #ffffff;
	color : #000000;
}
.Calendar.cal_MF_01_KHM .datepicker .body .weekband
{
	background : transparent;
	border : 0px none;
	opacity : 0.2;
	font : bold 13px "Noto Sans";
}
.DatePickerControl.popupCalendarcal_MF_01_KHMdatepicker .body .weekband
{
	background : transparent;
	border : 0px none;
	opacity : 0.2;
	font : bold 13px "Noto Sans";
}
.Calendar.cal_MF_01_KHM .datepicker .body
{
	border : 0px none transparent;
}
.DatePickerControl.popupCalendarcal_MF_01_KHMdatepicker .body
{
	border : 0px none transparent;
}
.Calendar.cal_MF_01_KHM .datepicker .body .weekitem
{
	font : bold 13px "Noto Sans";
	color : black;
}
.DatePickerControl.popupCalendarcal_MF_01_KHMdatepicker .body .weekitem
{
	font : bold 13px "Noto Sans";
	color : black;
}
.Calendar.cal_MF_01_KHM .datepicker .body .dayitem
{
	font : normal 600 11px/normal "NotoSansKR","sans-serif";
	color : #505050;
	border : 0px none;
	border-radius : 48px;
	background : #ffffff;
}
.DatePickerControl.popupCalendarcal_MF_01_KHMdatepicker .body .dayitem
{
	font : normal 600 11px/normal "NotoSansKR","sans-serif";
	color : #505050;
	border : 0px none;
	border-radius : 48px;
	background : #ffffff;
}
.Calendar.cal_MF_01_KHM .datepicker .body .dayitem .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
.DatePickerControl.popupCalendarcal_MF_01_KHMdatepicker .body .dayitem .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .Button.btn_WCF_login[status=focused]
{
	border : 1px solid #a9a9a9;
	background : rgba(255,255,255,0.8);
	border-radius : 50px;
	color : black;
	font : normal 10pt/normal NotoSansKR, sans-serif;
	box-shadow : 1px 1px 0px #bbbbbb;
}
#nexacontainer .Button.btn_WCF_login[status=focused] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .Button.btn_TF_menu1[status=focused]
{
	border : 0px none;
	background : transparent;
	color : white;
	font : normal 500 19px/normal "NotoSansKR","sans-serif";
}
#nexacontainer .Button.btn_TF_menu1[status=focused] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .Button.btn_TF_menu1[status=mouseover]
{
	border : 0px none;
	background : transparent;
	color : #f3d02a;
}
#nexacontainer .Button.btn_TF_menu1[status=mouseover] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .Button.btn_WCF_login[status=mouseover]
{
	border : 1px solid #a9a9a9;
	background : rgba(255,255,255,0.8);
	border-radius : 50px;
	color : #a9a9a9;
	font : normal 10pt/normal NotoSansKR, sans-serif;
	box-shadow : 1px 1px 0px #bbbbbb;
}
#nexacontainer .Button.btn_WCF_login[status=mouseover] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .Button.btn_WCF_modeOn[status=focused]
{
	border : 1px solid transparent;
	background : #0078AF;
	border-radius : 50px;
	color : white;
	font : normal 10pt/normal NotoSansKR, sans-serif;
}
#nexacontainer .Button.btn_WCF_modeOn[status=focused] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .Button.btn_WCF_modeOn[status=mouseover]
{
	border : 1px solid transparent;
	background : #0078AF;
	border-radius : 50px 50px;
	color : white;
	font : normal 10pt/normal NotoSansKR, sans-serif;
}
#nexacontainer .Button.btn_WCF_modeOn[status=mouseover] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .Button.btn_WCF_modeOff[status=focused]
{
	border : 1px solid transparent;
	background : #ebebeb;
	border-radius : 50px 50px;
	color : black;
	font : normal 10pt/normal NotoSansKR, sans-serif;
}
#nexacontainer .Button.btn_WCF_modeOff[status=focused] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .Button.btn_WCF_modeOff[status=mouseover]
{
	border : 1px solid #004a8b;
	background : #0078AF;
	border-radius : 50px 50px;
	color : white;
	font : normal 10pt/normal NotoSansKR, sans-serif;
}
#nexacontainer .Button.btn_WCF_modeOff[status=mouseover] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .Button.btn_MF_link[status=mouseover]
{
	border : 1px solid #e9e9e9;
	background : rgba(255,255,255,0.8);
	border-radius : 0px 50px 50px;
	color : #a9a9a9;
	font : normal 10pt/normal NotoSansKR, sans-serif;
}
#nexacontainer .Button.btn_MF_link[status=mouseover] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .Button.btn_MF_modeR[status=mouseover]
{
	border : 1px solid #a9a9a9;
	background : rgba(255,255,255,0.8);
	border-radius : 50px 50px 0px;
	color : #a9a9a9;
	font : normal 10pt/normal NotoSansKR, sans-serif;
	box-shadow : 1px 1px 0px #bbbbbb;
}
#nexacontainer .Button.btn_MF_modeR[status=mouseover] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .Button.btn_MF_mode[status=focused]
{
	border : 1px solid #a9a9a9;
	background : rgba(255,255,255,0.8);
	border-radius : 0px 50px 50px;
	color : black;
	font : normal 10pt/normal NotoSansKR, sans-serif;
	box-shadow : 1px 1px 0px #bbbbbb;
}
#nexacontainer .Button.btn_MF_mode[status=focused] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .DatePickerControl.cal_MF_01_KHM .body .dayitem[status=mouseover]
{
	color : #ffffff;
	background : #7ebd1b;
}
#nexacontainer .DatePickerControl.cal_MF_01_KHM .body .dayitem[status=focused]
{
	color : #ffffff;
	background : #125dae;
}
#nexacontainer .Static.m_sta_GA_area[status=mouseover]
{
	border : 1px solid #ccd0d9;
	font : 15pt NotoSansKR, sans-serif;
	background : #ffffff;
}
#nexacontainer .Static.m_sta_GA_area[status=mouseover] .nexacontentsbox
{
	white-space : pre-wrap;
	word-wrap : break-word;
	word-break : break-all;
}
#nexacontainer .Button.m_btn_login[status=mouseover]
{
	color : #f5d029;
	border : 0px none;
}
#nexacontainer .Button.m_btn_login[status=focused]
{
	color : #f5d029;
	border : 0px none;
}
#nexacontainer .Button.btn_login[status=mouseover]
{
	color : #f5d029;
	border : 0px none;
}
#nexacontainer .Button.btn_login[status=focused]
{
	color : #f5d029;
	border : 0px none;
}
#nexacontainer .Button.m_btn_logout[status=mouseover]
{
	color : #ffffff;
	font : normal 12pt/normal NotoSansKR, sans-serif;
	border : 0px none;
	background : url('./../../../_resource_/_images_/IMG/btn_TF_logoutN.png') no-repeat center center;
}
#nexacontainer .Button.m_btn_logout[status=focused]
{
	color : #ffffff;
	font : normal 12pt/normal NotoSansKR, sans-serif;
	border : 0px none;
	background : url('./../../../_resource_/_images_/IMG/btn_TF_logoutO.png') no-repeat center center;
}
#nexacontainer .Button.m_btn_14[status=mouseover]
{
	background : #2b55a8;
	color : #ffffff;
	border : 0px none;
}
#nexacontainer .Button.m_btn_14[status=focused]
{
	background : #2b55a8;
	color : #ffffff;
	border : 0px none;
}
#nexacontainer .Button.m_btn_more[status=mouseover]
{
	background : transparent;
	border : 0px none;
	color : #616770;
}
#nexacontainer .Button.m_btn_more[status=focused]
{
	background : transparent;
	border : 0px none;
	color : #616770;
}
#nexacontainer .Button.m_btn_MF_Add[status=focused]
{
	background : url('./../../../_resource_/_images_/IMG/btn_WFG_openRN.png') no-repeat;
	border : 0px none;
	font : 500 12px/normal NotoSansKR, sans-serif;
	color : #ffffff;
}
#nexacontainer .Button.m_btn_MF_Add[status=mouseover]
{
	background : url('./../../../_resource_/_images_/IMG/btn_WFG_openRO.png') no-repeat;
	border : 0px none;
	font : 500 12px/normal NotoSansKR, sans-serif;
	color : #ffffff;
}
#nexacontainer .Grid.m_grid_default .body .row .cell[status=mouseover]
{
	color : #2b55a8;
	font : bold 14pt NotoSansKR, sans-serif;
	background : #f4f8ff;
}
#nexacontainer .Grid.m_grid_body .body .row .cell[status=mouseover]
{
	color : #2b55a8;
	font : 14pt NotoSansKR, sans-serif;
	background : #f4f8ff;
}
#nexacontainer .Edit.m_Edit_Login[status=mouseover]
{
	background : #efefef;
	border : 1px solid #bcbcbc;
	border-radius : 3px;
}
#nexacontainer .Edit.edt_login[status=mouseover]
{
	background : #efefef;
	border : 1px solid #002a4c;
}
#nexacontainer .Edit.m_Edit_Login[status=focused]
{
	background : #efefef;
	border : 1px solid #bcbcbc;
	border-radius : 3px;
}
#nexacontainer .Edit.edt_login[status=focused]
{
	background : #ffffff;
	border : 1px solid #002a4c;
}
#nexacontainer .Static.m_sta_GA_label[status=mouseover]
{
	border : 1px solid #ccd0d9;
	background : #e6e9ee;
	color : #30373b;
	font : 14 pt NotoSansKR, sans-serif;
}
#nexacontainer .Static.m_sta_GA_label[status=mouseover] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .Button.btn_more[status=mouseover]
{
	background : URL('./images/img_more.png') no-repeat left;
	border : 0px none;
	font : 9pt/normal "Gothic";
	color : #2a2b2d;
	opacity : 1;
}
#nexacontainer .Button.btn_more[status=mouseover] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
	vertical-align : middle;
	background-position-y : center;
	text-decoration : underline;
}
#nexacontainer .Button.btn_more[status=focused]
{
	background : URL('./images/img_more.png') no-repeat left;
	border : 0px none;
	font : 9pt/normal "Gothic";
	color : #2a2b2d;
	opacity : 1;
}
#nexacontainer .Button.btn_more[status=focused] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
	vertical-align : middle;
	background-position-y : center;
	text-decoration : underline;
}
#nexacontainer .Grid.grd_WF_mainFaq.body.row.cell[status=mouseover]
{
	font : 9pt "Gothic";
	background : transparent;
	color : #0078ad;
}
#nexacontainer .Grid.grd_WF_mainFaq.body.row.cell[status=focused]
{
	border : 0px none;
	color : #555555;
	font : 9pt "Gothic";
	background : transparent;
}
#nexacontainer .Button.btn_MF_shortcut1[status=focused]
{
	border : 1px solid #c8cbd0;
	background : #02abee;
	background : linear-gradient(#02abee,#004A8B);
	border-radius : 50px;
	color : #ffffff;
	cursor : pointer;
}
#nexacontainer .Button.btn_MF_shortcut1[status=mouseover]
{
	border : 1px solid #4480bc;
	background : #02abee;
	color : #ffffff;
	border-radius : 50px;
}
#nexacontainer .Button.btn_login_idpw_find[status=focused]
{
	font : 500 16px/normal "NotoSansKR","sans-serif";
	color : #ffffff;
}
#nexacontainer .Button.btn_login_idpw_find[status=mouseover]
{
	color : #f2d12c;
}
#nexacontainer .Button.btn_login_quick[status=focused]
{
	border : 0px solid transparent;
	background : #ebebeb;
	border-radius : 100px;
}
#nexacontainer .Button.btn_login_quick[status=focused] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
#nexacontainer .Button.btn_login_quick[status=mouseover]
{
	border : 0px solid transparent;
	background : #e0e0e0;
	border-radius : 100px;
}
#nexacontainer .Button.btn_login_quick[status=mouseover] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
#nexacontainer .ListView.lv_LF_fav .body .cell[status=focused]
{
	background : #f3d129;
	color : #000000;
}
#nexacontainer .ListView.lv_LF_fav .body .cell[status=mouseover]
{
	background : #f3d129;
}
#nexacontainer .ListViewBandControl.list_FAV_board[status=mouseover]
{
	border : 1px solid red;
	border-radius : 3px;
}
#nexacontainer .ListViewCellControl.list_FAV_cell[status=mouseover]
{
	border : 1px solid red;
}
#nexacontainer .ListViewBandExpandbarControl.list_FAV_board[status=mouseover]
{
	box-shadow : 5px 5px 3px #dedede;
}
#nexacontainer .Calendar.cal_MF_01_KHM .datepicker .body .dayitem[status=mouseover]
{
	background : #E6E9EE;
	color : black;
}
#nexacontainer .DatePickerControl.popupCalendarcal_MF_01_KHMdatepicker .body .dayitem[status=mouseover]
{
	background : #E6E9EE;
	color : black;
}
#nexacontainer .Calendar.cal_MF_01_KHM[status=mouseover]
{
	border : 0px none;
}
#nexacontainer .Calendar.cal_MF_01_KHM[status=focused]
{
	border : 0px none;
}
#nexacontainer .Button.btn_WCF_login[userstatus=selected]
{
	border : 1px solid #a9a9a9;
	background : rgba(255,255,255,0.8);
	border-radius : 50px;
	color : black;
	font : normal 10pt/normal NotoSansKR, sans-serif;
	box-shadow : 1px 1px 0px #bbbbbb;
}
#nexacontainer .Button.btn_WCF_login[userstatus=selected] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .Button.btn_TF_menu1[userstatus=selected]
{
	border : 0px none;
	background : transparent;
	color : white;
	font : normal 500 19px/normal "NotoSansKR","sans-serif";
}
#nexacontainer .Button.btn_TF_menu1[userstatus=selected] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .Button.btn_TF_menu1[userstatus=pushed]
{
	border : 0px none;
	background : transparent;
	color : #f3d02a;
}
#nexacontainer .Button.btn_TF_menu1[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .Button.btn_WCF_login[userstatus=pushed]
{
	border : 1px solid #a9a9a9;
	background : rgba(255,255,255,0.8);
	border-radius : 50px;
	color : #a9a9a9;
	font : normal 10pt/normal NotoSansKR, sans-serif;
	box-shadow : 1px 1px 0px #bbbbbb;
}
#nexacontainer .Button.btn_WCF_login[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .Button.btn_WCF_modeOn[userstatus=pushed]
{
	border : 1px solid transparent;
	background : #0078AF;
	border-radius : 50px 50px;
	color : white;
	font : normal 10pt/normal NotoSansKR, sans-serif;
}
#nexacontainer .Button.btn_WCF_modeOn[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .Button.btn_WCF_modeOff[userstatus=pushed]
{
	border : 1px solid #004a8b;
	background : #0078AF;
	border-radius : 50px 50px;
	color : white;
	font : normal 10pt/normal NotoSansKR, sans-serif;
}
#nexacontainer .Button.btn_WCF_modeOff[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .Button.btn_MF_modeR[userstatus=selected]
{
	border : 1px solid #a9a9a9;
	background : rgba(255,255,255,0.8);
	border-radius : 50px 50px 0px;
	color : black;
	font : normal 10pt/normal NotoSansKR, sans-serif;
	box-shadow : 1px 1px 0px #bbbbbb;
}
#nexacontainer .Button.btn_MF_modeR[userstatus=selected] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .Button.btn_MF_mode[userstatus=pushed]
{
	border : 1px solid #a9a9a9;
	background : rgba(255,255,255,0.8);
	border-radius : 0px 50px 50px;
	color : #a9a9a9;
	font : normal 10pt/normal NotoSansKR, sans-serif;
	box-shadow : 1px 1px 0px #bbbbbb;
}
#nexacontainer .Button.btn_MF_mode[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .Button.btn_MF_mode[userstatus=selected]
{
	border : 1px solid #a9a9a9;
	background : rgba(255,255,255,0.8);
	border-radius : 0px 50px 50px;
	color : black;
	font : normal 10pt/normal NotoSansKR, sans-serif;
	box-shadow : 1px 1px 0px #bbbbbb;
}
#nexacontainer .Button.btn_MF_mode[userstatus=selected] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .DatePickerControl.cal_MF_01_KHM .body .weekitem[userstatus=saturday]
{
	color : #48afff;
}
#nexacontainer .DatePickerControl.cal_MF_01_KHM .body .weekitem[userstatus=sunday]
{
	color : #ff7986;
}
#nexacontainer .DatePickerControl.cal_MF_01_KHM .body .dayitem[userstatus=selected]
{
	color : #ffffff;
	background : #017ab3;
}
#nexacontainer .DatePickerControl.cal_MF_01_KHM .body .dayitem[userstatus=today]
{
	color : #ffffff;
	background : #f6d200;
}
#nexacontainer .DatePickerControl.cal_MF_01_KHM .body .dayitem[userstatus=saturday]
{
	color : #015e9b;
}
#nexacontainer .DatePickerControl.cal_MF_01_KHM .body .dayitem[userstatus=sunday]
{
	color : #ff0000;
}
#nexacontainer .DatePickerControl.cal_MF_01_KHM .body .dayitem[userstatus=trailingday]
{
	color : #989898;
}
#nexacontainer .Button.m_btn_login[userstatus=pushed]
{
	border : 0px none;
	background : #2b55a8;
	color : #f5d029;
}
#nexacontainer .Button.m_btn_login[userstatus=selected]
{
	border : 0px none;
	background : #2b55a8;
	color : #f5d029;
}
#nexacontainer .Button.btn_login[userstatus=pushed]
{
	border : 0px none;
	background : #2b55a8;
	color : #f5d029;
}
#nexacontainer .Button.btn_login[userstatus=selected]
{
	border : 0px none;
	background : #2b55a8;
	color : #f5d029;
}
#nexacontainer .Button.m_btn_logout[userstatus=pushed]
{
	color : #ffffff;
	font : normal 12pt/normal NotoSansKR, sans-serif;
	border : 0px none;
	background : url('./../../../_resource_/_images_/IMG/btn_TF_logoutO.png') no-repeat center center;
}
#nexacontainer .Button.m_btn_logout[userstatus=selected]
{
	color : #ffffff;
	font : normal 12pt/normal NotoSansKR, sans-serif;
	border : 0px none;
	background : url('./../../../_resource_/_images_/IMG/btn_TF_logoutO.png') no-repeat center center;
}
#nexacontainer .Button.m_btn_14[userstatus=pushed]
{
	border : 0px none;
	background : #2b55a8;
	color : #ffffff;
}
#nexacontainer .Button.m_btn_14[userstatus=selected]
{
	border : 0px none;
	background : #2b55a8;
	color : #ffffff;
}
#nexacontainer .Button.m_btn_more[userstatus=pushed]
{
	background : transparent;
	border : 0px none;
	color : #616770;
}
#nexacontainer .Button.m_btn_more[userstatus=selected]
{
	background : transparent;
	border : 0px none;
	color : #616770;
}
#nexacontainer .Button.m_btn_MF_Add[userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/IMG/btn_WFG_openRN.png') no-repeat;
	border : 0px none;
	font : 500 12px/normal NotoSansKR, sans-serif;
	color : #ffffff;
}
#nexacontainer .Button.m_btn_MF_Add[userstatus=selected]
{
	background : url('./../../../_resource_/_images_/IMG/btn_WFG_openRN.png') no-repeat;
	border : 0px none;
	font : 500 12px/normal NotoSansKR, sans-serif;
	color : #ffffff;
}
#nexacontainer .Grid.m_grid_default .body .row .cell[userstatus=selected]
{
	color : #2b55a8;
	font : bold 14pt NotoSansKR, sans-serif;
	background : #f4f8ff;
}
#nexacontainer .Grid.m_grid_body .body .row .cell[userstatus=selected]
{
	color : #2b55a8;
	font : 14pt NotoSansKR, sans-serif;
	background : #f4f8ff;
}
#nexacontainer .Button.btn_more[userstatus=selected]
{
	background : URL('./images/img_more.png') no-repeat left;
	border : 0px none;
	font : 9pt/normal "Gothic";
	color : #2a2b2d;
	opacity : 1;
}
#nexacontainer .Button.btn_more[userstatus=selected] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
	vertical-align : middle;
	background-position-y : center;
	text-decoration : underline;
}
#nexacontainer .Button.btn_more[userstatus=pushed]
{
	background : URL('./images/img_more.png') no-repeat left;
	border : 0px none;
	font : 9pt/normal "Gothic";
	color : #2a2b2d;
	opacity : 1;
}
#nexacontainer .Button.btn_more[userstatus=pushed] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
	vertical-align : middle;
	background-position-y : center;
	text-decoration : underline;
}
#nexacontainer .Button.btn_MF_shortcut1[userstatus=pushed]
{
	border : 1px solid #4480bc;
	background : #02abee;
	color : #ffffff;
	border-radius : 50px;
}
#nexacontainer .Button.btn_MF_shortcut1[userstatus=selected]
{
	border : 1px solid #4480bc;
	background : #02abee;
	color : #ffffff;
	border-radius : 50px;
}
#nexacontainer .Calendar.cal_MF_01_KHM .datepicker .body .dayitem[userstatus=today]
{
	background : #F1CE3C;
	border : 0px;
	color : black;
}
#nexacontainer .DatePickerControl.popupCalendarcal_MF_01_KHMdatepicker .body .dayitem[userstatus=today]
{
	background : #F1CE3C;
	border : 0px;
	color : black;
}
#nexacontainer .Calendar.cal_MF_01_KHM .datepicker .body .dayitem[userstatus=selected]
{
	background : #0F518F;
	border : 0px;
}
#nexacontainer .DatePickerControl.popupCalendarcal_MF_01_KHMdatepicker .body .dayitem[userstatus=selected]
{
	background : #0F518F;
	border : 0px;
}
#nexacontainer .DatePickerControl.cal_MF_01_KHM .head[status=disabled]
{
	background : #efefef;
	color : #888888;
}
#nexacontainer .DatePickerControl.cal_MF_01_KHM .head .yearstatic[status=disabled]
{
	color : #bcc7d4;
}
#nexacontainer .DatePickerControl.cal_MF_01_KHM .head .monthstatic[status=disabled]
{
	color : #bcc7d4;
}
#nexacontainer .DatePickerControl.cal_MF_01_KHM .body[status=disabled]
{
	border : 1px solid #efefef;
}
#nexacontainer .DatePickerControl.cal_MF_01_KHM .body .weekband[status=disabled]
{
	background : #efefef;
}
#nexacontainer .DatePickerControl.cal_MF_01_KHM .body .weekitem[status=disabled]
{
	color : #bcc7d4;
	background : #efefef;
}
#nexacontainer .DatePickerControl.cal_MF_01_KHM .body .dayitem[status=disabled]
{
	color : #cdcdcd;
}
#nexacontainer .Button.m_btn_login[status=disabled]
{
	background : #cccccc;
	border : 0px none;
}
#nexacontainer .Button.btn_login[status=disabled]
{
	background : #cccccc;
	border : 0px none;
}
#nexacontainer .Button.m_btn_logout[status=disabled]
{
	color : #ffffff;
	font : normal 12pt/normal NotoSansKR, sans-serif;
	border : 0px none;
	background : url('./../../../_resource_/_images_/IMG/btn_TF_logoutO.png') no-repeat center center;
}
#nexacontainer .Button.m_btn_14[status=disabled]
{
	background : #2b55a8;
	border : 0px none;
}
#nexacontainer .Button.m_btn_more[status=disabled]
{
	color : #bbbbbb;
	background : transparent;
	border : 0px none;
}
#nexacontainer .Button.m_btn_MF_Add[status=disabled]
{
	background : url('./../../../_resource_/_images_/IMG/btn_WFG_openRN.png') no-repeat;
	border : 0px none;
	font : 500 12px/normal NotoSansKR, sans-serif;
	color : #ffffff;
}
#nexacontainer .Grid.m_grid_default .body .row .cell[status=disabled]
{
	color : #999999;
}
#nexacontainer .Grid.m_grid_body .body .row .cell[status=disabled]
{
	color : #999999;
}
#nexacontainer .Edit.m_Edit_Login[status=disabled]
{
	background : #efefef;
	border : 1px solid #bcbcbc;
	color : #909090;
	border-radius : 3px;
}
#nexacontainer .Edit.edt_login[status=disabled]
{
	background : #efefef;
	border : 0px none #bcbcbc;
	color : #909090;
}
#nexacontainer .Button.btn_more[status=disabled]
{
	font : 10 Gothic;
	color : #bababa;
	opacity : 20;
}
#nexacontainer .Button.btn_MF_shortcut1[status=disabled]
{
	border : 1px solid #d9d9d9;
	background : #f5f5f5;
	border-radius : 50px;
	color : #bbbbbb;
}
#nexacontainer .DatePickerControl.cal_MF_01_KHM .body .dayitem[status=mouseover][userstatus=saturday]
{
	color : #ffffff;
}
#nexacontainer .DatePickerControl.cal_MF_01_KHM .body .dayitem[status=mouseover][userstatus=sunday]
{
	color : #ffffff;
}
#nexacontainer .DatePickerControl.cal_MF_01_KHM .body .dayitem[status=mouseover][userstatus=trailingday]
{
	color : #ffffff;
}
#nexacontainer .DatePickerControl.cal_MF_01_KHM .body .dayitem[status=disabled][userstatus=selected]
{
	background : #f0f0f0;
}
